{% extends 'layout.html' %}
{% block content %}
<h1 class="mb-3 ml-3 mt-3 mb-3"> Plan name: <span class="text-primary">{{ plan.name }}</span></h1>
{% if plan.status == 1 %}
<p class="mb-3 ml-3 mt-3 mb-3">Create or edit day plan</p>
<div class="form-group ml-3 mr-3 mt-3">
<form  method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-primary" type="submit" value="Add">
</form>
</div>
<p class="text-primary text-center list-group"><strong>{{ first.name }} </strong></p>
<p>
{% for i in plan_days %}
    {% if i.training_day.id == 1 %}
        <li class="list-group-item">{{ i.exercise.name }} series: {{ i.series }} reps: {{ i.reps }}   <a href="/delete_from_plan/{{ pupil.id }}/{{ i.id }}/">delete</a> </li>
    {% endif %}
{% endfor %}
</p>

<p class="text-primary text-center list-group"><strong>{{ second.name }} </strong></p>
{% for i in plan_days %}
    {% if i.training_day.id == 2 %}
        <li class="list-group-item">{{ i.exercise.name }} series: {{ i.series }} reps: {{ i.reps }}   <a href="/delete_from_plan/{{ pupil.id }}/{{ i.id }}/">delete</a> </li>
    {% endif %}
{% endfor %}

<p class="text-primary text-center list-group"><strong>{{ third.name }} </strong></p>
{% for i in plan_days %}
    {% if i.training_day.id == 3 %}
        <li class="list-group-item">{{ i.exercise.name }} series: {{ i.series }} reps: {{ i.reps }}   <a href="/delete_from_plan/{{ pupil.id }}/{{ i.id }}/">delete</a> </li>
    {% endif %}
{% endfor %}

<p class="text-primary text-center list-group"><strong>{{ fourth.name }} </strong></p>
{% for i in plan_days %}
    {% if i.training_day.id == 4 %}
        <li class="list-group-item">{{ i.exercise.name }} series: {{ i.series }} reps: {{ i.reps }}   <a href="/delete_from_plan/{{ pupil.id }}/{{ i.id }}/">delete</a> </li>
    {% endif %}
{% endfor %}

<p class="text-primary text-center list-group"><strong>{{ fifth.name }} </strong></p>
{% for i in plan_days %}
    {% if i.training_day.id == 5 %}
        <li class="list-group-item">{{ i.exercise.name }} series: {{ i.series }} reps: {{ i.reps }}   <a href="/delete_from_plan/{{ pupil.id }}/{{ i.id }}/">delete</a> </li>
    {% endif %}
{% endfor %}
<p class="text-primary text-center list-group"><strong>{{ sixth.name }} </strong></p>
{% for i in plan_days %}
    {% if i.training_day.id == 6 %}
        <li class="list-group-item">{{ i.exercise.name }} series: {{ i.series }} reps: {{ i.reps }}   <a href="/delete_from_plan/{{ pupil.id }}/{{ i.id }}/">delete</a> </li>
    {% endif %}
{% endfor %}
<p class="text-primary text-center list-group"><strong>{{ seventh.name }} </strong></p>
{% for i in plan_days %}
    {% if i.training_day.id == 7 %}
        <li class="list-group-item">{{ i.exercise.name }} series: {{ i.series }} reps: {{ i.reps }}   <a href="/delete_from_plan/{{ pupil.id }}/{{ i.id }}/">delete</a> </li>
    {% endif %}
{% endfor %}

{% else %}
<p>This plan is . Check history</p>
{% endif %}

<p><a class="btn btn-primary ml-3 mt-3" href="/main/trainer/{{ trainer.id }}">Main</a>

{% endblock %}