<h1>Hello {{ pupil.first_name }} {{ pupil.last_name }}</h1>
{% include 'messages.html' %}

    <h2>Your actual plan is {{ training_plan.name }}</h2>
    <p>From {{ training_plan.start_date }} for  {{ training_plan.week_training_days }} weeks</p>

{% if first %}
<p><table>
  <tr>
    <th>{{ first.name }} Day</th>
    <th>Series</th>
    <th>Reps</th>
  </tr>
  {% for i in days %}
    {% if i.training_day.id == 1 %}
      <tr>
          <td><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td>{{ i.series }}</td>
        <td>{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
    </p>
    {% endif %}


{% if second %}
    <p>
<table>
  <tr>
    <th>{{ second.name }} Day</th>
    <th>Series</th>
    <th>Reps</th>
  </tr>
  {% for i in days %}
    {% if i.training_day.id == 2 %}
      <tr>
          <td><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td>{{ i.series }}</td>
        <td>{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
    </p>
    {% endif %}

{% if third %}
    <p>
<table>
  <tr>
    <th>{{ third.name }} Day</th>
    <th>Series</th>
    <th>Reps</th>
  </tr>
  {% for i in days %}
    {% if i.training_day.id == 3 %}
      <tr>
          <td><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td>{{ i.series }}</td>
        <td>{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
    </p>
    {% endif %}

    {% if fourth %}
        <p>
<table>
  <tr>
    <th>{{ fourth.name }} Day</th>
    <th>Series</th>
    <th>Reps</th>
  </tr>
  {% for i in days %}
    {% if i.training_day.id == 4 %}
      <tr>
          <td><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td>{{ i.series }}</td>
        <td>{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
        </p>
    {% endif %}

    {% if fifth %}
        <p>
<table>
  <tr>
    <th>{{ fifth.name }} Day</th>
    <th>Series</th>
    <th>Reps</th>
  </tr>
  {% for i in days %}
    {% if i.training_day.id == 5 %}
      <tr>
          <td><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td>{{ i.series }}</td>
        <td>{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
        </p>
    {% endif %}

    {% if sixth %}
        <p>
<table>
  <tr>
    <th>{{ sixth.name }} Day</th>
    <th>Series</th>
    <th>Reps</th>
  </tr>
  {% for i in days %}
    {% if i.training_day.id == 6 %}
      <tr>
          <td><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td>{{ i.series }}</td>
        <td>{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
        </p>
    {% endif %}

    {% if seventh %}
        <p>
<table>
  <tr>
    <th>{{ seventh.name }} Day</th>
    <th>Series</th>
    <th>Reps</th>
  </tr>
  {% for i in days %}
    {% if i.training_day.id == 7 %}
      <tr>
          <td><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td>{{ i.series }}</td>
        <td>{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
        </p>
    {% endif %}

{% if left_days %}
    Left Days: {{ left_days }}
{% endif %}
    {% if till_start %}
    Days till start: {{ till_start }}
{% endif %}

{% if user.is_authenticated %}
<p>{{ user.thepupil.first_name }}  <a href="/logout/">Logout</a></p>
{% endif %}
