{% extends 'layout.html' %}
{% block content %}
<h1 class="text-center text-primary mt-3 mb-3">Hello {{ pupil.first_name }} {{ pupil.last_name }}</h1>

<div class="ml-3 mb-3">
  <strong>Your actual plan:</strong> {{ training_plan.name }}<br>
  <strong>From:</strong> {{ training_plan.start_date }}<br>
  <strong>For:</strong> {{ training_plan.week_training_days }} weeks
</div>

{% if first %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ first.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in first1 %}
      <tr class="d-flex">
        <td class="col-3 red_one" ><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if second %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ second.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in second2 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if third %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ third.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in third3 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if fourth %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ fourth.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in fourth4 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% if fifth %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ fifth.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in fifth5 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if sixth %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ sixth.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in sixth6 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if seventh %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ seventh.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in seventh7 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if left_days %}
    <p class="ml-3"><strong> Current Day: </strong> {{ current_day }}
        <span class="ml-3"><strong> Days left: </strong> {{ left_days }} </span>
    </p>
    {% if actual_weight_start %}
        <p class="ml-3"><strong>Your actual weight: </strong>  {{ actual_weight_start}} kg></p>
    {% else %}
    <p class="ml-3"><strong>Your actual weight: </strong>  {{ actual_weight.actual_weight}} kg
        <strong>updated on </strong>{{ actual_weight.add_date }}
    </p>
    {% endif %}
{% endif %}
{% if till_start %}
    <p class="ml-3"><strong> Days till start: </strong> {{ till_start }} </p>
{% endif %}
<div class="ml-3 mr-5 text-center">
    <form method="post"> {% csrf_token %}
        {% for field in form %}
        <p><label class="text-primary"><strong> {{ field.label }}</strong></label> {{ field }}</p>
        {% endfor %}
    <input class="btn btn-primary mt-3 mb-3 blue" type="Submit" value="Update">
    </form>
</div>
<div> <a class="btn btn-primary ml-3 mb-3 blue" href="/logout/">Logout</a> </div>
{% endblock %}