{% extends 'layout.html' %}
{% block content %}

<div class="ml-3 mb-3 mt-3">
<h1 class="text-primary mb-3">Your Pupil: {{ pupil.first_name }} {{ pupil.last_name }}</h1>
{% include 'messages.html' %}
{% if training_plan %}
    <h2 class="mb-3">His actual plan: <span class="text-primary">{{ training_plan.name }} </span></h2>
    <p class="mb-5">From {{ training_plan.start_date }} for  {{ training_plan.week_training_days }} weeks</p>
</div>

{% if first %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ first.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in days %}
    {% if i.training_day.id == 1 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
{% endif %}


{% if second %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ first.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in days %}
    {% if i.training_day.id == 2 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
{% endif %}

{% if third %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ first.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in days %}
    {% if i.training_day.id == 3 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
{% endif %}

 {% if fourth %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ first.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in days %}
    {% if i.training_day.id == 4 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
{% endif %}

   {% if fifth %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ first.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in days %}
    {% if i.training_day.id == 5 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
{% endif %}

{% if sixth %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ first.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in days %}
    {% if i.training_day.id == 6 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
{% endif %}

{% if seventh %}
<table class="table ml-3 text-center">
  <thead class="thead-light">
  <tr class="d-flex">
    <th scope="col" class="col-3">{{ first.name }} Day</th>
    <th scope="col" class="col-2">Series</th>
    <th scope="col" class="col-1">Reps</th>
  </tr>
  </thead>
  <tbody>
  {% for i in days %}
    {% if i.training_day.id == 7 %}
      <tr class="d-flex">
        <td class="col-3"><a href="{{ i.exercise.movie_link }}">{{ i.exercise.name }}</a></td>
        <td class="col-2">{{ i.series }}</td>
        <td class="col-1">{{ i.reps }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
{% endif %}

<div><a  class="btn btn-primary ml-3" href="/exercise_plan/{{ trainer.id }}/{{ pupil.id }}/{{ training_plan.id }}">Edit Plan</a></div>

    {% if left_days %}
        <div class="mt-3 ml-3 mb-3"> <strong> Days left: </strong>{{ left_days }}</div>
    {% endif %}
    {% if till_start %}
        <div class="mt-3 ml-3 mb-3">Days till start: {{ till_start }}</div>
    {% endif %}



{% else %}
    <p>Your plan is being prepared. We'll inform you when it's done</p>
    <p><a href="/logout/">Logout</a></p>
{% endif %}

<div><a class="btn btn-primary ml-3" href="/main/trainer/{{ trainer.id }}">Main</a></div>


{% endblock %}